# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and Coverage
coverage/

# Next.js & Turborepo
.next/
.turbo/
out/
dist/
build/

# Environment and Secrets
.env
.env.*
!.env.example

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Archive files
*.log
*.zip
*.tar.gz
