# Database
DATABASE_URL="postgresql://erp_user:erp_password@localhost:5432/erp_db?schema=public"

# Redis (BullMQ / Cache)
REDIS_URL="redis://localhost:6379"

# API & Web URLs
NEXT_PUBLIC_API_URL="http://localhost:3001"
PORT=3001

# AI & OpenAI
OPENAI_API_KEY="sk-tu-api-key-aqui"

# JWT Secret para Auth
JWT_SECRET="super-secret-jwt-key"
